*{
    margin: 0;
    padding: 0;
}

h1{
    padding: 2rem;
    text-decoration: underline;
}

body{
    text-align: center;
    background-color: black;
    color: #fff;
}

.container{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 5%;
    font-size: 50px;
    border: 1px solid white;
    background-color:black;
    color: white ;
}

.info{
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
}

.msg{
    font-size: 40px;
}

.newGameBtn,
.resetBtn{
    padding: 1rem 1rem;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid white;
    background-color:black;
    color: white ;
    cursor: pointer;
}

.newGameBtn:hover,
.resetBtn:hover{
    box-shadow: 0 0 30px white;
    transition: 0.3s;
}
